# Task 36 Numpy Functions Practice


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/NumPy_logo_2020.svg/1200px-NumPy_logo_2020.svg.png">

'''Numpy is a Python library. It stands for 'Numerical Python'
It is a library consisting of multidimensional array objects.
It is used in data preprocessing or mathematical operations
'''

# Numpy vs List
'''
Python List:

1. Able to store different data types in the same list
2. Storing each item in random location in the memory
3. Good for scenario where list can grow dynamically
4. Inbuilt datatype
5. It has more inbuilt functions. Like append
6. Appending will take less time in 0(1) [Bigger Notation] time. Only appending list is speed and rest all functions its slow than array

Numpy Array

1. Can store only one data type in an array at any time
2. Storing each item in sequnetial which makes array more effective in processing
3. Good for scenario where the items are fixed size and same data time
4. Need to install external library Numpy
5. No extra functions, so it will not have more memory store
6. Appending elements will take more than 0(N) time. Array is speed than list except in appending function
'''

'''
1D Array - axis 0. Will take rows as columsn. shape(4,) 4 is considered as columns
2D Array - axis 1. Two rows and three columns. shape(2,3) 2 is row and 3 is column
3D Array - axis 0, axis 1, axis 3. shape(4,2,3) 4 is layers 2 is rows 3 is columns
'''

<img src="https://i.stack.imgur.com/NWTQH.png">

In [314]:
!pip install numpy

# import numpy module as alias np
import numpy as np

Requirement already satisfied: numpy in d:\anacondainstallation\lib\site-packages (1.20.1)

In [315]:
# define a numpy array passing a list with 1,2 and 3 as elements in it
a = np.array([1,2,3])

In [316]:
# print a
a

array([1, 2, 3])

# Dimensions in Arrays

* Numpy array can be of n dimensions
* Lets create arrays of different dimensions
* a = A numpy aaray with one single 10
* b= A numpy array passing a list having a list = [1,2,3]
* c = A numpy array passing nested list having [1,2,3],[4,5,6] as e;ements
* d = A numpy array passing nested list having ([[1,2,3],[4,5,6]].[[1,2,3],[4,5,6]]])

In [317]:
# define a,b,c and d as instructed above
a = np.array(10)
b = np.array([1,2,3])
c = np.array([[1,2,3],[4,5,6]])
d = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])

As you already checked its dimensions?Use ndim attribute on each variable to check its dimension

In [318]:
# print dimensions of a,b,c and d
# Also we can remember if array has one list its one dimension, two lists its two dimenion, three lissts its theee dimension
print('a dimension', a.ndim)
print('b dimension', b.ndim)
print('c dimension', c.ndim)
print('d dimension', d.ndim)

a dimension 0
b dimension 1
c dimension 2
d dimension 3

Lets print the shape as well. You can check the shape using shape attribute

In [319]:
# print shape of each a,b,c and d which are array variables
# if shape is (2,4,3) then 2 is layers, 4 is rows and 3 is columns. can see a gap between two layers
# a is zero dimension, b is one dimension and here row is consideredas column, c is two dimension and d is three dimension
print(a)
print('shape of a: ', a.shape)
print(b)
print('shape of b: ', b.shape)
print(c)
print('shape of c: ', c.shape)
print(d)
print('shape of d: ', d.shape)

10
shape of a:  ()
[1 2 3]
shape of b:  (3,)
[[1 2 3]
 [4 5 6]]
shape of c:  (2, 3)
[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]
shape of d:  (2, 2, 3)

Lets check datatype passed in our array. To check datatype you can use datarype attribute

In [320]:
# print datatype of c and d
# int32, int64 are bittype and want to know in depth then learn range table 
print(c.dtype)
print(d.dtype)

int32
int32

Lets check the type of our variable. To check type of any numpy variable use type() function

In [321]:
# print type of a and b variable
print(type(a))
print(type(b))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [322]:
# Lets check length of array b, using len() function
print(b)
len(b)

[1 2 3]

3

In [323]:
# Define L1,L2,L3 and L4 as stated above. See how list is converted to numpy array.
l1 = [10,20,30]
l2 = [40,50,60]
l3 = np.array(l1)
l4 = np.array(l2)
print(type(l3))
print(l3)

<class 'numpy.ndarray'>
[10 20 30]

# Crerating Numpy array

There are number of ways to create numpy array. Lets walk through them.
1. Using arange() function

* In range function we have range(start,stop,jump), where as in arange is arrayrange.

In [324]:
# create a numpy array using arange with 1 and 11 as parameter in it
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [325]:
# create a numpy array using arange with 1,11 and 2 as parameter in it. jump 2 means its will jump as 1 element only
np.arange(1,11,2)

array([1, 3, 5, 7, 9])

# Using eye function

In [326]:
# create numpy array using eye function with 3 as passed parameter. 3 means 3 rows and 3 columns with 1 as diagonals
np.eye(3,dtype=float)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Whoo! eye return a 2-D array with ones as diagonals and zeros elsewhere

## Using zeros function

In [327]:
# Create a numpy array using zero function with (3,2) as passed parameter which takes default float
# we get one dimensional array with 3 rows and 2 columns 
s = np.zeros((3,2),dtype = int) # default float
print('Dimension of s is: ', s.ndim)
print('Datatype of s is: ', s.dtype)
print('Type of s is: ', type(s))
print('Shape of s is: ', b.shape)

print(s)

Dimension of s is:  2
Datatype of s is:  int32
Type of s is:  <class 'numpy.ndarray'>
Shape of s is:  (3,)
[[0 0]
 [0 0]
 [0 0]]

Zero function returns a new array of given shape and type, filled with zeros

## Using ones function

In [328]:
# Create a numpy array using ones function with (3,2) as passed parameter
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

You noticed that ones function returns a new array one function of given shape and type, filled with ones. Default type is float

## Full Function

In [329]:
# Create a numpy array using full function with (3,2) and 10 passes as parameter
# full function is used to take required element into array
np.full((3,2),10)

array([[10, 10],
       [10, 10],
       [10, 10]])

<img src="">

## Using diag function

In [330]:
# create a numpy 
x = [1,2,3,4,5,6]
np.diag(x)

array([[1, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 0, 0, 4, 0, 0],
       [0, 0, 0, 0, 5, 0],
       [0, 0, 0, 0, 0, 6]])

# Using Random numbers

In [331]:
# random to create element randomly between 0 to 1. Output changes randomly
# separate module and has many functions like randint
# random is used to generate OTP randomly in realtime
np.random.random(1)[0]

0.8575714739206403

In [332]:
# get an array as stated above
# not possible for integer
np.random.randn(2,3)  # (2,3) means 2 rows and 3 columns with its elements as randomly between 0 and 1

array([[-0.24542185, -1.82010899,  0.53791665],
       [ 0.5746081 ,  0.08998073,  0.71880904]])

In [333]:
np.random.randint(2)

1

In [334]:
np.random.rand(2,3,dtype=int)

TypeError: rand() got an unexpected keyword argument 'dtype'

# Numpy Reshape

* Reshaping means changing shape of array. The shape of an array is the number of elements in each dimension. By reshaping we can add or remove or change number of elements in each dimension
* During reshape conversion first columns is converted and then rows are considered
* Original matrix shape (3,4) can be reshaped to (6,2), (2,6), (4,3), (1,12), (12,1) possible shapes. where 3 * 4 = 12

<img src = "https://backtobazics.com/wp-content/uploads/2018/08/numpy-reshape-examples.jpg">

In [335]:
# Taking a sample arange() numpy array x with numbers between 1 to 16 for reshape illustration
x = np.arange(1,17)
print(x)
print(x.shape)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
(16,)

In [336]:
# reshape x with 2 rows and 8 columns
n = x.reshape((8,2))
print(n)
print(n.shape)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]
 [13 14]
 [15 16]]
(8, 2)

In [337]:
# convert to old dimension. ravel() function is used change to old dimension
v = n.ravel()
print(v)
print(v.shape)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
(16,)

<img src = "https://www.w3resource.com/w3r_images/numpy-manipulation-ravel-function-image-1.png">

In [338]:
# reshape x with dimensions that will have 2 arrays that consists of 4 arrays, each with 2 elements
# By default columns are considered first while reshaping
print(x)
x.reshape((2,8),order='F') # order = 'F' to reshape first by taking rows

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

array([[ 1,  3,  5,  7,  9, 11, 13, 15],
       [ 2,  4,  6,  8, 10, 12, 14, 16]])

In [339]:
# flattening x convert array into one dimension
# flatten() means one dimension and gets converted irrespective of its previous dimension
x.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

<img src="https://www.w3resource.com/w3r_images/numpy-manipulation-ndarray-flatten-function-image-1.png">

## Numpy Array Indexing

* Array indexing is the same as accessing an array element. You can access any element by refering to its index number.
* The indexes in Numpy arrays start with 0, meaning that the first element has index 0, and the second had index 1 etc.

In [340]:
# create an numpy array a with all even numbers between 1 to 17
a = np.arange(2,17,2)

# print a
a

array([ 2,  4,  6,  8, 10, 12, 14, 16])

In [341]:
# Get 3rd element in array a
a[2]

6

In [342]:
# print 3rd, 5th and 7th element in array a
a[2:7:2]

array([ 6, 10, 14])

Lets check the same for 2D array

In [343]:
# Define an array 2D a with [[1,2,3],[4,5,6],[7,8,9]] as its elements
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [344]:
# print the 3rd element from the 3rd row of a
a[2,2]

9

<img src = "https://qph.fs.quoracdn.net/main-qimg-cc51a4de89837eca971f0202e7572d88">

In [345]:
# Define an array b again with [[1,2,3],[4,5,6]],[7,8,9],[10,11,12]]] as its elements
b = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
b

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [346]:
b.shape

(2, 2, 3)

In [347]:
# Print 3rd element from 2nd list which is 1st list in nested list passed. Confusing right? 'b' have nested array.Understand the braket differences.
b[0][1][2]

6

Great Job! So now you have learned how to index on various dimension of numpy array.

# Numpy Array Slicing

* Slicing in python means taking elements from one given index to another given index.
1. We pass slice instead of index like this: [start:end]
2. We can also define the step, like this: [start:end:stop]
3. If we dont pass start its considered 0
4. If we dont pass and its considered length of array in that dimension
5. If we dont pass step its considered 1

1. Array Slicing in 1-D array.

In [348]:
arr=np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [349]:
# Slice elements from 1st to 5th element from array arr:
arr[0:5]

array([1, 2, 3, 4, 5])

In [350]:
# Slice elements from index 5 to the end of the array arr:
arr[5:]

array([ 6,  7,  8,  9, 10])

In [351]:
# Slice elements from the beginning to index 5 (not included) in array arr:
arr[0:5]

array([1, 2, 3, 4, 5])

In [352]:
# Print every other even element from index 1 to index 7:
arr[1:7:2]

array([2, 4, 6])

In [353]:
# Return every other odd element from the entire array arr:
arr[0:10:2]

array([1, 3, 5, 7, 9])

In [354]:
# Print array a
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [355]:
# In array 'a' print index 2 from all the rows :
arr[2]

3

In [356]:
# From all the elements in 'a', slice index 1 till end, this will return a 2-D array:
a[0:,1:]

array([[2, 3],
       [5, 6],
       [8, 9]])

Hurray! You have learned Slicing in Numpy array. Now you know to access any numpy array.

# Numpy Copy Vs View

In [357]:
x1 = np.arange(10)
x1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [358]:
# assign x2 = x1
x2 = x1  # view

In [359]:
## print x1 and x2. x1 nd x2 both are same
print(x1)
print(x2)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]

In [360]:
x2[0] = 10

In [361]:
print(x1)
print(x2)

[10  1  2  3  4  5  6  7  8  9]
[10  1  2  3  4  5  6  7  8  9]

In [362]:
### check memory share between x1 and x2
print(np.shares_memory(x1,x2))  # if x1 and x2 share memory it will show True
print(id(x1))
print(id(x2)) # id will tell the address

True
2342363956304
2342363956304

Hey It's True they both share same memory

Shall we try **view()** function also likwise.

In [363]:
# Create a view of x1 and store it in x3.
x3 = x1.view()
x3

array([10,  1,  2,  3,  4,  5,  6,  7,  8,  9])

In [364]:
# Again check memory share between x1 and x3
np.shares_memory(x1, x3)

True

In [365]:
#Change 1st element of x3=100
x3[0] = 100

In [366]:
#print x1 and x3 to check if changes reflected in both
print(x1)
print(x3)

[100   1   2   3   4   5   6   7   8   9]
[100   1   2   3   4   5   6   7   8   9]

Now its proved.

## Lets see how **Copy()** function works

In [367]:
# Now create an array x4 which is copy of x1

x4 = np.copy(x1)
x4

array([100,   1,   2,   3,   4,   5,   6,   7,   8,   9])

In [368]:
# Change the last element of x4 as 900
x4[-1] = 900
x4

array([100,   1,   2,   3,   4,   5,   6,   7,   8, 900])

In [369]:
# print both x1 and x4 to check if changes reflected in both
print(x1)
print(x4)

[100   1   2   3   4   5   6   7   8   9]
[100   1   2   3   4   5   6   7   8 900]

Hey! such an intresting output. You noticed buddy! your original array didn't get changed on change of its copy ie. x4.

In [370]:
#Check memory share between x1 and x4
np.shares_memory(x1, x4)

False

You see! x1 and x4 don't share its memory. 

So with all our outputs we can takeaway few points:

    1. The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

    2. The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

    3. The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

## Difference bwtween view, copy and shares_memory
* copy will not change the data in old one
* but view changes the data in old one
* view and assign (=) both are same
* shares_memory will help us to know whether two arrays share memory or not

# More operation on Numpy

1. Applying Conditions

In [371]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [372]:
a > 3

array([[False, False, False],
       [ True,  True,  True],
       [ True,  True,  True]])

In [373]:
# This will show all the elements which are greater then 3
a[a>3]

array([4, 5, 6, 7, 8, 9])

In [374]:
# show elements which are greater than 3 and less than 6
a[(a>3) & (a<6)]

array([4, 5])

In [375]:
print(x1)
print(x4)

[100   1   2   3   4   5   6   7   8   9]
[100   1   2   3   4   5   6   7   8 900]

In [376]:
# check if each elements in array 'x1' equals array 'x4' using '==' notation
x1 == x4

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False])

You can see in above output that the last element is not same in both x1 and x4

Well done so far.

Lets check how to transpose an array

# Transpose Array

In [377]:
# print Transpose of array 'a'
print(a.transpose())
print('..............')
print(a)

[[1 4 7]
 [2 5 8]
 [3 6 9]]
..............
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In above output all the rows became columns by transposing

# Horizontal, Vertical stack
**3. hstack vs vstack function**



Stacking is same as concatenation, the only difference is that stacking is done along a new axis.

NumPy provides a helper function: 

1. hstack() to stack along rows.
2. vstack()  to stack along columns

<img src="https://images4.pianshen.com/908/91/91b34f7c4a78a2e22d6b7ba0a7186584.png">

In [378]:
# stack x1 and x4 along columns.
print(x1)
print(x4)
np.vstack((x1, x4))

[100   1   2   3   4   5   6   7   8   9]
[100   1   2   3   4   5   6   7   8 900]

array([[100,   1,   2,   3,   4,   5,   6,   7,   8,   9],
       [100,   1,   2,   3,   4,   5,   6,   7,   8, 900]])

In [379]:
#stack x1 and x4 along rows
np.hstack((x1, x4))

array([100,   1,   2,   3,   4,   5,   6,   7,   8,   9, 100,   1,   2,
         3,   4,   5,   6,   7,   8, 900])

In [380]:
# Adding, Inserting and Delete Numpy
print(x1)
print(x2)
np.insert(x1,4,x2)

[100   1   2   3   4   5   6   7   8   9]
[100   1   2   3   4   5   6   7   8   9]

array([100,   1,   2,   3, 100,   1,   2,   3,   4,   5,   6,   7,   8,
         9,   4,   5,   6,   7,   8,   9])

In [381]:
print(x2)
np.delete(x2,0) # 0 is index position

[100   1   2   3   4   5   6   7   8   9]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Did you see? 2 value is deleted from x2 which was at index position 2

# Mathematical operations on Numpy - Trignometry

In [382]:
# defining a
a = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [383]:
# print trigonometric sin value of each element of a
np.sin(a)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427, -0.2794155 ],
       [ 0.6569866 ,  0.98935825,  0.41211849]])

In [384]:
(np.sin(a))/(np.cos(a))

array([[ 1.55740772, -2.18503986, -0.14254654],
       [ 1.15782128, -3.38051501, -0.29100619],
       [ 0.87144798, -6.79971146, -0.45231566]])

In [385]:
# print trigonometric cos value of each element of a
np.cos(a)

array([[ 0.54030231, -0.41614684, -0.9899925 ],
       [-0.65364362,  0.28366219,  0.96017029],
       [ 0.75390225, -0.14550003, -0.91113026]])

In [386]:
# Print exponential value of each elements of a
np.exp(a)

array([[2.71828183e+00, 7.38905610e+00, 2.00855369e+01],
       [5.45981500e+01, 1.48413159e+02, 4.03428793e+02],
       [1.09663316e+03, 2.98095799e+03, 8.10308393e+03]])

In [387]:
# print total sum of elements of a
np.sum(a)

45

In [388]:
# axis = 1 column wise
# axis = 0 row wise

In [389]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [390]:
# Print sum in array a column wise. axis =1 means column wise
np.sum(a, axis=1)

array([ 6, 15, 24])

In [391]:
# Print sum in array a row wise. 0 means row wise
np.sum(a, axis=0)

array([12, 15, 18])

<img src="https://th.bing.com/th/id/R.9230ced1c11e813fb069ddcac6566fdf?rik=C1ohvKa4zik%2b4w&riu=http%3a%2f%2flh5.ggpht.com%2f-1oz5Rz51kmo%2fU_xUcCLo4KI%2fAAAAAAAAB1g%2fyzk9KPcJ-NM%2fmeasures%25252520of%25252520central%25252520tendency_thumb%2525255B13%2525255D.gif%3fimgmax%3d800&ehk=%2bBH1cRV14pqT3nEfMTOkYImdkFZDlqR6fFJ1eM%2bKAcw%3d&risl=&pid=ImgRaw&r=0">

# Statistics - Mean, Median and Mode
* Mean - If i have 10 members, each member is equal to 2 and want average. 2+2+2+2+2+2+2+2+2+2/10
* Mean = Sum of all values divided by total no of items available
* Median = Middle. 
* Mode = same type of data is considered as 'mode'. Most frequently occuring data

In [392]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [393]:
np.median(a)

5.0

<img src="https://th.bing.com/th/id/R.a2c52d7062fa0de9d9df6032b7e0da75?rik=ptW1AfWGEGJi%2fQ&riu=http%3a%2f%2fimage.slideserve.com%2f274561%2fformula-for-standard-deviation-l.jpg&ehk=VClOXZLFkcG6HPqdc7rRMwWSMjYJ2T%2fGN1A8smQgV5Q%3d&risl=&pid=ImgRaw&r=0">

In [394]:
np.std(a)

2.581988897471611

In [395]:
np.max(a)

9

In [396]:
np.mean(a)

5.0

In [397]:
np.sort(a)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

## Searching Arrays

You can search an array for a certain value, and return the indexes that get a match.

To search an array, use the where() method.

<p style='text-align: right;'> 4 points </p>

In [398]:
# where is used to find particular element in array
m = np.where(a==4)
m

(array([1], dtype=int64), array([0], dtype=int64))

In [399]:
#print array x1
x1

array([100,   1,   2,   3,   4,   5,   6,   7,   8,   9])

In [400]:
# Print the indexes where the values are even in array x1
np.where(x1%2 == 0)

(array([0, 2, 4, 6, 8], dtype=int64),)

In [401]:
# in a array show where elements are greater than 5 and replace other elements with 0
print(x1)
np.where(x1>5,x1,0)

[100   1   2   3   4   5   6   7   8   9]

array([100,   0,   0,   0,   0,   0,   6,   7,   8,   9])