<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1280px-Pandas_logo.svg.png">

In [1]:
'''
What is Pandas?
Pandas is a Python library used for working with data sets

It has functions for analysing,cleanig,exploring, and manipulating data

Why use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in Data Science

Pandas: Powerful for data analysis

Pandas stands for "Python Data Analysis Library"

One of the most prefered and widely tools in Data Imaging/ Wrangling

Data Wrangling also called data cleaning, data remediation, or data munging - refers to a variety of process designed to transform 
raw data into more readily used formats

The major outcomes of Pandas are;

               1) Analysis of Data
               2) Preparation of Data
               3) Data Manipulation
               4) Data Modeling 
               5) Data Analysis
               


'''

!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in d:\anacondainstallation\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anacondainstallation\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\anacondainstallation\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in d:\anacondainstallation\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in d:\anacondainstallation\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

<img src="https://indhumathychelliahcom.files.wordpress.com/2020/09/e1abc-1cuhnqwnicnwipgkzqo91bg.png">

In [15]:
'''
What is Series?
A Pandas Series is like a column in a table

It is a one-dimensional array holding data of any type
'''
s1 = pd.Series([23,24,25,'12',32])
s1

0    23
1    24
2    25
3    12
4    32
dtype: object

<img src = "https://www.w3resource.com/w3r_images/pandas-series-add-image-3.svg">

In [29]:
# We can also give our own index names instead of default index numbers 0,1,2,3,4 etc
s2 = pd.Series([23,45,67,12,34],index = ['a','b','c','d','e'])
s2

a    23
b    45
c    67
d    12
e    34
dtype: int64

In [30]:
# To change datatype of data inside Series
s3 = pd.Series([23,45,67,12,34],index = ['a','b','c','d','e'], dtype = 'float')
s3

a    23.0
b    45.0
c    67.0
d    12.0
e    34.0
dtype: float64

In [31]:
'''
Labels
If nothing else is specified, the values are labled with their index number. First value has index 0, second value has index 1

The label can be used to access a specified value
'''
s3['a']

23.0

## Creation of Series uisng dictionary

In [32]:
s4 = pd.Series({'a':65,'b':43,'c':45}) # keys will become index and values become data
s4

a    65
b    43
c    45
dtype: int64

## DataFrame

what is a DataFrame?A pandas datframe is a 2 dimensional data structure like 2 dimesnional array or a table with rows and columns

<img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png">

In [36]:
# DataFrame is 2D and has rows and columns where rows and column index are taken as 0,1,2 etc by default
d1 = pd.DataFrame([45,56,65,76])
d1

    0
0  45
1  56
2  65
3  76

In [37]:
# Creating Datarame with list of lists with Default index and column names
d2 = pd.DataFrame([[2,3,4],[4,5,6],[1,2,3]])
d2

   0  1  2
0  2  3  4
1  4  5  6
2  1  2  3

In [39]:
# S2 is series dataset with no column and only rows
s2

a    23
b    45
c    67
d    12
e    34
dtype: int64

In [40]:
# Converting series into DataFrame. Only column gets added
d2 = pd.DataFrame(s2)
d2

    0
a  23
b  45
c  67
d  12
e  34

In [42]:
# Creating datframe by specifying column names
d3 = pd.DataFrame([[2,3,4],[4,5,6],[1,2,3]], columns = ['a','b','c'])
d3

   a  b  c
0  2  3  4
1  4  5  6
2  1  2  3

In [44]:
# Creating datframe by specifying both column amd rows index names
d3 = pd.DataFrame([[2,3,4],[4,5,6],[1,2,3]], columns = ['a','b','c'], index = ['x','y','z'])
d3

   a  b  c
x  2  3  4
y  4  5  6
z  1  2  3

## Creating DataFrame from list of dictionaries

In [45]:
# In dataframe key is considered as column index.
# NAN means Null values
dic = [{'alex':1,'joe':2},{'ema':5,'dora':10,'alice':20}]
pd.DataFrame(dic,index=['a','b'])

   alex  joe  ema  dora  alice
a   1.0  2.0  NaN   NaN    NaN
b   NaN  NaN  5.0  10.0   20.0

## DataFrame Operations

In [66]:
d3

   a  c   e
x  2  4   8
y  4  6  24
z  1  3   3

In [67]:
# To check values in column a
d3['a']

x    2
y    4
z    1
Name: a, dtype: int64

In [72]:
# Creating two new columns 'd' and 'e' in d3 
d3['d'] = d3['a'] * d3['b']
d3['e'] = d3['a'] + d3['d']
d3

KeyError: 'b'

In [69]:
# Using pop function to remove column 'b'
# Specific function like pop is used for only few operation
pop = d3.pop('b')
d3

KeyError: 'b'

In [70]:
# Using built-in function del to remove column 'd'. 
# built-in function is used for all operations
del d3['d']

KeyError: 'd'

In [71]:
d3

   a  c   e
x  2  4   8
y  4  6  24
z  1  3   3

In [74]:
d3.pop('a')
d3

KeyError: 'a'

In [75]:
d3

   c   e
x  4   8
y  6  24
z  3   3

In [78]:
# insert function is used to add column
# Below 1 is location,'new1'is column name and d3['c'] is data to be added in column
d3.insert(1,'new1',d3['c'])
d3

ValueError: cannot insert new1, already exists

In [79]:
d3

   c  new1   e
x  4     4   8
y  6     6  24
z  3     3   3

In [88]:
d3.insert(2,'new2',d3([1,2,3]))
d3

TypeError: 'DataFrame' object is not callable

In [94]:
# Taking a random dataset
d4 = pd.DataFrame({'abc':np.random.randint(2,6,size = (10)),'bcd':np.random.randint(3,8,size = (10)),'cde':np.random.randint(4,10,size = (10))})

In [95]:
d4

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

In [97]:
# To see first 5 rows
d4.head() # if we want more than 5 rows then head(10)

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6

In [100]:
# To see last 5 rows
d4.tail()

   abc  bcd  cde
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

In [101]:
'''
Info about the data.
The DataFrame object has a method called ino(), that gives more information about th data
'''
d4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   abc     10 non-null     int32
 1   bcd     10 non-null     int32
 2   cde     10 non-null     int32
dtypes: int32(3)
memory usage: 248.0 bytes

# To access specific data with in DataFrmae we use loc and iloc functions

## loc function in Panda
* Data is retrieved based on rows and columns names
* Syntax: loc[row name, col name]

<img src='https://cdn-coiao.nitrocdn.com/CYHudqJZsSxQpAPzLkHFOkuzFKDpEHGF/assets/static/optimized/rev-5c5c3de/wp-content/uploads/2019/02/pandas-loc-get-specific-column-syntax.png'>

In [113]:
d4

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

In [114]:
# loc syntax : loc[row name, col name]
d4.loc[9,'cde']

7

In [115]:
# retrieving data by slicing. n-1 is not applicable and here we are givig rows and columns names
d4.loc[4:9,['abc','cde']]

   abc  cde
4    5    6
5    3    4
6    4    4
7    3    6
8    4    6
9    4    7

In [116]:
# retrieving data based on row names
d4.loc[[3,4,7],['abc','cde']]

   abc  cde
3    2    7
4    5    6
7    3    6

In [117]:
d4

   abc  bcd  cde
0    2    6    5
1    2    5    5
2    2    7    8
3    2    6    7
4    5    5    6
5    3    6    4
6    4    6    4
7    3    5    6
8    4    4    6
9    4    5    7

# iloc function in Pandas
* Data is retreived based on rows and columns indexes
* Syntax: iloc[row index, col index]

<img src = 'https://www.marsja.se/wp-content/uploads/2019/09/pandas_select_row_by_index_iloc.png'>

In [118]:
d4.iloc[9,2] # [row index, column index]

7

In [119]:
# retrieving data based on slicing
d4.iloc[2:7,[0,2]]

   abc  cde
2    2    8
3    2    7
4    5    6
5    3    4
6    4    4

In [121]:
# dataframe.column_name gives the data set details of that column
d4.abc

0    2
1    2
2    2
3    2
4    5
5    3
6    4
7    3
8    4
9    4
Name: abc, dtype: int32

In [123]:
# when we give .values it will convert to array
d4.abc.values

array([2, 2, 2, 2, 5, 3, 4, 3, 4, 4])

In [125]:
# creating new column'sum'
d4['sum'] = d4.abc.values + d4.cde.values + d4.bcd.values
d4

   abc  bcd  cde  sum
0    2    6    5   13
1    2    5    5   12
2    2    7    8   17
3    2    6    7   15
4    5    5    6   16
5    3    6    4   13
6    4    6    4   14
7    3    5    6   14
8    4    4    6   14
9    4    5    7   16

In [127]:
# Creating a datarame
a = [['rk',102,15000],['rama',103,20000],['krishna',104,25000]]
df1 = pd.DataFrame(a,columns=['name','id','salary'])
df1

      name   id  salary
0       rk  102   15000
1     rama  103   20000
2  krishna  104   25000

In [128]:
# To check whose salary is greater than or equal to 20000
y = df1[df1.salary>=20000]
y

      name   id  salary
1     rama  103   20000
2  krishna  104   25000

In [129]:
# To check salary based on the required columns
y[['id','salary']]

    id  salary
1  103   20000
2  104   25000

In [139]:
# Adding new row to DataFrame using append() function
# ignore_index is by default True, for adding data from particular mentioned index
df1.append({'name':'pavan','id':105,'salary':30000},ignore_index = True)

      name     id   salary
0       rk  102.0  15000.0
1     rama  103.0  20000.0
2  krishna  104.0  25000.0
3      NaN  106.0  30000.0
4      NaN  105.0  30000.0
5      NaN  106.0  30000.0
6    pavan  105.0  30000.0

In [138]:
# Adding one more row with Null value using np.nan
df1 = df1.append({'name': np.nan,'id':106,'salary':30000},ignore_index = True)
df1

      name     id   salary
0       rk  102.0  15000.0
1     rama  103.0  20000.0
2  krishna  104.0  25000.0
3      NaN  106.0  30000.0
4      NaN  105.0  30000.0
5      NaN  106.0  30000.0

In [141]:
# To find null values
# If found shows as True, if not False
df1.isnull()

    name     id  salary
0  False  False   False
1  False  False   False
2  False  False   False
3   True  False   False
4   True  False   False
5   True  False   False

In [142]:
# To find total no of null values in each column
df1.isnull().sum()

name      3
id        0
salary    0
dtype: int64

In [143]:
# To drop null values
df1.dropna()

      name     id   salary
0       rk  102.0  15000.0
1     rama  103.0  20000.0
2  krishna  104.0  25000.0

* If there are many null values using statistical features like mean, median, mode etc we repalce these null values with best fit data.
* Never try to remove null values and always try to replace it with best fit values
* Each null value cant be replaced with different values, but all null values are replaced with same value

In [146]:
# Still null values are there, because we didnt assign to variable df1
df1

      name     id   salary
0       rk  102.0  15000.0
1     rama  103.0  20000.0
2  krishna  104.0  25000.0
3      NaN  106.0  30000.0
4      NaN  105.0  30000.0
5      NaN  106.0  30000.0

In [148]:
# using fillna() we can replace null value with some specific value 
df1.fillna(value = 'pavan')

      name     id   salary
0       rk  102.0  15000.0
1     rama  103.0  20000.0
2  krishna  104.0  25000.0
3    pavan  106.0  30000.0
4    pavan  105.0  30000.0
5    pavan  106.0  30000.0

## GroupBy

<img src = 'https://i2.wp.com/datapandas.com/wp-content/uploads/2016/09/pandas-powerful-data-analysis-tools-group-by.jpg?fit=300%2C225&ssl=1'>

In [149]:
# Dataframe to illustrate GroupBy
df = pd.DataFrame({'Animal':['Falcon','Falcon','Parrot','Parrot'],'Max Speed': [380.,370.,24.,26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [151]:
# Using groupby() function we can know average speed of Falcon and Parrot
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [154]:
# read_csv will read total file which is saved
# In realtime we read csv files as shown below
df_csv = pd.read_csv('data_csv')
df_csv

   Unnamed: 0     COUNTRY      POP      AREA       GDP       CONT     IND_DAY
0         CHN       China  1398.72   9596.96  12234.78       Asia         NaN
1         IND       India  1351.16   3287.26   2575.67       Asia  1947-08-15
2         USA          US   329.74   9833.52  19485.39  N.America  1776-07-04
3         IDN   Indonesia   268.07   1910.93   1015.54       Asia  1945-08-17
4         BRA      Brazil   210.32   8515.77   2055.51  S.America  1822-09-07
5         PAK    Pakistan   205.71    881.91    302.14       Asia  1947-08-14
6         NGA     Nigeria   200.96    923.77    375.77     Africa  1960-10-01
7         BGD  Bangladesh   167.09    147.57    245.63       Asia  1971-02-26
8         Rus      Russia   146.79  17098.25   1530.75        NAN  1962-06-12
9         Mex      Mexico   126.58   1964.38   1158.23  N.America  1810-09-16
10        JPN       Japan   126.22    377.92   4872.42       Asia         NaN
11        DEU     Germany    83.02    357.11    693.20     Europe         NaN
12        FRA      FRANCE    67.82    640.68   2582.89     Europe  1789-14-07
13        GBR          UK    66.44    242.50   2631.23     Europe         NaN
14        ITA       ITALY    60.36    301.34   1943.84     Europe         NaN
15        ARG   Argentina    44.94   2780.40    637.49  S.America  1816-07-09
16        DZA     Algeria    43.38   2381.74    167.56     Africa  1962-07-05
17        CAN      Canada    37.59   9984.67   1647.12  N.America  1867-07-01
18        AUS   Australia    25.47   7692.02   1408.68    Oceania         NaN
19        KAZ  Kazakistan    18.53   2724.99    159.41       Asia  1991-12-16

In [156]:
# To read only columns data in DataFrame
df_csv.columns

Index(['Unnamed: 0', 'COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY'], dtype='object')

In [158]:
# To check the data available in 'COUNTRY' column we use .values and will be shown in array format
df_csv['COUNTRY'].values

array(['China', 'India', 'US', 'Indonesia', 'Brazil', 'Pakistan',
       'Nigeria', 'Bangladesh', 'Russia', 'Mexico', 'Japan', 'Germany',
       'FRANCE', 'UK', 'ITALY', 'Argentina', 'Algeria', 'Canada',
       'Australia', 'Kazakistan'], dtype=object)

In [161]:
# Checking total null values in 'Country' column using .isnull and .sum()
df_csv['COUNTRY'].isnull().sum()

0

## iteritems()

* iteritems() is used to loop the data column wise with in a DataFrame
* Also if null values in any column can be found

In [165]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
print('\n')
for key,value in df.iteritems():
    print(key,value)
    print('\n')

       col1      col2      col3
0 -1.440428  0.599830 -0.084083
1 -0.024618 -1.120361 -0.581329
2  1.829654 -0.278756  0.606010
3 -0.866944 -0.099303  1.157553


col1 0   -1.440428
1   -0.024618
2    1.829654
3   -0.866944
Name: col1, dtype: float64


col2 0    0.599830
1   -1.120361
2   -0.278756
3   -0.099303
Name: col2, dtype: float64


col3 0   -0.084083
1   -0.581329
2    0.606010
3    1.157553
Name: col3, dtype: float64

## iterrows()

* iterrows() is used to loop the data row wise with in a DataFrame
* Also if null values in any column can be found
*

In [168]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
print('\n')
for row in df.iterrows():
    print(row)
    print('\n')

       col1      col2      col3
0 -0.139760  0.265000 -0.785503
1 -1.271101 -0.357747 -0.494885
2 -0.542647 -0.222630 -0.673734
3  1.761171 -0.236060 -1.256946


(0, col1   -0.139760
col2    0.265000
col3   -0.785503
Name: 0, dtype: float64)


(1, col1   -1.271101
col2   -0.357747
col3   -0.494885
Name: 1, dtype: float64)


(2, col1   -0.542647
col2   -0.222630
col3   -0.673734
Name: 2, dtype: float64)


(3, col1    1.761171
col2   -0.236060
col3   -1.256946
Name: 3, dtype: float64)

In [169]:
df

       col1      col2      col3
0 -0.139760  0.265000 -0.785503
1 -1.271101 -0.357747 -0.494885
2 -0.542647 -0.222630 -0.673734
3  1.761171 -0.236060 -1.256946

In [170]:
# Transpose - Rows will convert to columns and columns will convert to rows
df.T

             0         1         2         3
col1 -0.139760 -1.271101 -0.542647  1.761171
col2  0.265000 -0.357747 -0.222630 -0.236060
col3 -0.785503 -0.494885 -0.673734 -1.256946

## Get Dummies

In [172]:
# Taking some data
import pandas as pd
data = {'firstname':['Pavan','Krishna','Venkata','Guna','Sai'],
        'lastname':['Kumar','Mallik','Vivaan','Saanvee','Josya'],
       'adultkid':['Adult','Adult','Kid','Kid','Kid'],
       'cityname':['Hyderabad','Bangalore','Hyderabad','Hyderabad','Bangalore']}

df = pd.DataFrame(data, columns = ['firstname','lastname','adultkid','cityname'])
print(df)

  firstname lastname adultkid   cityname
0     Pavan    Kumar    Adult  Hyderabad
1   Krishna   Mallik    Adult  Bangalore
2   Venkata   Vivaan      Kid  Hyderabad
3      Guna  Saanvee      Kid  Hyderabad
4       Sai    Josya      Kid  Bangalore

* In above data there are some repetitive values with in columns
* In this case we can convert them to specific values using get_dummies, lable encoding or one hot encoding methods

In [175]:
# using get_dummies repititive values as 0 and 1
df1 = pd.get_dummies(df['adultkid'])
df2 = pd.get_dummies(df['cityname'])
print(df1)
print(df2)

   Adult  Kid
0      1    0
1      1    0
2      0    1
3      0    1
4      0    1
   Bangalore  Hyderabad
0          0          1
1          1          0
2          0          1
3          0          1
4          1          0

In [176]:
df

  firstname lastname adultkid   cityname
0     Pavan    Kumar    Adult  Hyderabad
1   Krishna   Mallik    Adult  Bangalore
2   Venkata   Vivaan      Kid  Hyderabad
3      Guna  Saanvee      Kid  Hyderabad
4       Sai    Josya      Kid  Bangalore

In [180]:
# To add the get_dummies to the main DataFrame we use concat() function and give axis = 1 means adding data column wise
frames = [df,df1,df2]

result = pd.concat(frames,axis=1)
result

  firstname lastname adultkid   cityname  Adult  Kid  Bangalore  Hyderabad
0     Pavan    Kumar    Adult  Hyderabad      1    0          0          1
1   Krishna   Mallik    Adult  Bangalore      1    0          1          0
2   Venkata   Vivaan      Kid  Hyderabad      0    1          0          1
3      Guna  Saanvee      Kid  Hyderabad      0    1          0          1
4       Sai    Josya      Kid  Bangalore      0    1          1          0

## Concatination

In [194]:
# Creating data for concatination illustration
import pandas as pd

india_weather =pd.DataFrame({
    "City":["mumbai","delhi","bangalore"],
    "temperature": [32,45,30],
    "humidity": [80,60,78]
    
})
india_weather

        City  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [195]:
us_weather =pd.DataFrame({
    "City":["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68,65,75]
    
})
us_weather

       City  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [197]:
# concatinating both india_weather and us_weather data using concat() function
# both dataframe indexes are taken as it is i.e. 0,1,2 and 0,1,2
df = pd.concat([india_weather,us_weather])
df

        City  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           21        68
1    chicago           14        65
2    orlando           35        75

In [200]:
# using ignore_index = True previous index are ignored and indexes are taken as one for entire DataFrame
df = pd.concat([india_weather,us_weather],ignore_index = True)
df

        City  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
3   new york           21        68
4    chicago           14        65
5    orlando           35        75

In [204]:
# concatinating using keys, where data gets separated based on the values provided witn in keys
df = pd.concat([india_weather,us_weather],keys=["india","us"])
df

              City  temperature  humidity
india 0     mumbai           32        80
      1      delhi           45        60
      2  bangalore           30        78
us    0   new york           21        68
      1    chicago           14        65
      2    orlando           35        75

## Correlation method - corr()


* Finding relationships
* A great aspect of Pandas module is the corr() method.
* The corr() method calculates the relationship between each column in your data set.

In [205]:
df

              City  temperature  humidity
india 0     mumbai           32        80
      1      delhi           45        60
      2  bangalore           30        78
us    0   new york           21        68
      1    chicago           14        65
      2    orlando           35        75

In [209]:
# if two columns have same data then we can remove one column
# correlation using heatmap is important
# diagnol element is always 1
df.corr()

             temperature  humidity
temperature     1.000000 -0.009327
humidity       -0.009327  1.000000