# Linear Regression

$$ y = m*X + c $$

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    "X" : list(range(1, 8)),
    'Y' : [1.5, 3.8, 6.7, 9.0, 11.2, 13.6, 16]
}

In [4]:
dataFrame = pd.DataFrame(data=data)

In [5]:
dataFrame

   X     Y
0  1   1.5
1  2   3.8
2  3   6.7
3  4   9.0
4  5  11.2
5  6  13.6
6  7  16.0

# Finding M

$$ m = \frac{(n * \sum_{i=0}^{n} X_{i} * Y_{i}) - (\sum_{i=0}^{n} X * \sum_{i=0}^{n} Y)}{(n*\sum_{i=0}^{n}X^{2}) - (\sum_{i=0}^{n}X)^{2}} $$

In [6]:
dataFrame['SumX_Y'] = dataFrame['X'] * dataFrame['Y']

NumExpr defaulting to 8 threads.

In [7]:
dataFrame['Sqr_X'] = dataFrame['X'] ** 2

In [8]:
dataFrame

   X     Y  SumX_Y  Sqr_X
0  1   1.5     1.5      1
1  2   3.8     7.6      4
2  3   6.7    20.1      9
3  4   9.0    36.0     16
4  5  11.2    56.0     25
5  6  13.6    81.6     36
6  7  16.0   112.0     49

In [9]:
sum_xy = dataFrame['SumX_Y'].sum()
sum_x = dataFrame['X'].sum()
sum_y = dataFrame['Y'].sum()
sum_x2 = dataFrame['Sqr_X'].sum()
sumX_h_2 = sum_x ** 2 
n = len(dataFrame)

In [10]:
sum_xy, sum_x, sum_y, sum_x2, sumX_h_2, n

(314.8, 28, 61.800000000000004, 140, 784, 7)

In [11]:
numerator = (n*sum_xy) - (sum_x * sum_y)
numerator

473.1999999999998

In [12]:
denominator = (n*sum_x2) - sumX_h_2

In [13]:
denominator

196

In [14]:
m = numerator / denominator

In [15]:
m

2.4142857142857133

$$ b = \frac{\sum_{i=0}^{n} Y_{i} - m * \sum_{i=0}^{n} X_{i}}{n} $$

In [16]:
sum_y, m, sum_x, n

(61.800000000000004, 2.4142857142857133, 28, 7)

In [17]:
numerator_b = ((sum_y) - (m * sum_x))
denominator_b = n
b = numerator_b / denominator_b

In [18]:
b

-0.8285714285714231

In [19]:
m, b

(2.4142857142857133, -0.8285714285714231)

In [20]:
y_original = dataFrame['Y']
y_original

0     1.5
1     3.8
2     6.7
3     9.0
4    11.2
5    13.6
6    16.0
Name: Y, dtype: float64

In [21]:

dataFrame['y_pred'] = [(m*x_val) + b for x_val in dataFrame['X']]
dataFrame

   X     Y  SumX_Y  Sqr_X     y_pred
0  1   1.5     1.5      1   1.585714
1  2   3.8     7.6      4   4.000000
2  3   6.7    20.1      9   6.414286
3  4   9.0    36.0     16   8.828571
4  5  11.2    56.0     25  11.242857
5  6  13.6    81.6     36  13.657143
6  7  16.0   112.0     49  16.071429

In [22]:
y_pred

NameError: name 'y_pred' is not defined

# Squared Error

$$ ss = \sum_{i=0}^{n} (Y_{org} - y_{pred}) ^ {2} $$

In [23]:
ss = sum([(yorg - ypred)**2 for yorg, ypred in zip(dataFrame['Y'], dataFrame['y_pred'])]) / n
ss

0.024081632653061246

In [28]:
class LinearRegression:
    
    def __init__(self, data):
        self.data = data
        
    def m(self):
        return m
    
    def b(self):
        return b
    
    def fit_train(self):
        y_pred =  mx +c
        return y_pred
    
    def mse(self):
        mse = y_pred, y_org
        return mse
    
    def mae(self):
        return mae
    
obj = LinearRegression(data)
mse = obj.mse()
mae = obj.mae()

NameError: name 'y_org' is not defined